<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
    ul
    {
        background-color: lavender;
        border: 2px solid gray;
      margin: 2%;
      padding: 2%;
      line-height: 30px;
    }
    ul li
    {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    ul li
    {
        text-transform: capitalize;
        letter-spacing: 1px;
    }
  </style>
</head>
<body>
    {%if request.user.is_authenticated %}
    <a href="{% url 'logout'%}">Logout</a>
    <a href="{% url 'addpost' %} ">Addpost</a>
    <a href="{% url 'showpost' %}">Show Posts</a>
    <a href="{%url 'profile' %}">Profile</a>
    <a href="{%url 'mypost' %}">My Posts</a>
    {%else%}
    <a href="{%url 'register'%}">Register</a>
    <a href="{%url 'login' %}">Login</a>
   {%endif%}
    <h1>All POst by {{request.user}}</h1>
    <ul>
    {%for i in posts %}
    <li> {{i.title}} </li>
    <ul>
        <li>About {{i.description}}</li>

        <li>Posted At {{i.postedat}}</li>
       
        <li> <a href="{%url 'delpost' i.id %}">Delete Post</a> </li>
    </ul>
    {%endfor%}
</ul>
</body>
</html>